

<h1>the main page</h1>

<form mathod="post" action="/home/staticRoute">

<label for="hostIpAddress">Host Ip Address</label>
<input type="text" placeholder="Host Ip Address" name="hostIpAddress"/>
<br />

<label for="port">port</label>
<input type="text" placeholder="Port number" name="port"/>
<br />

<label for="network">network</label>
<input type="text" placeholder="network" name="network"/>
<br />

<label for="mask">mask</label>
<input type="text" placeholder="mask" name="mask"/>
<br />

<label for="nextHop">next hop</label>
<input type="text" placeholder="next hop" name="nextHop"/>
<br />

<button type="submit">add</button>

</form>


